<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Talk: The Blog</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>
                <a href="/" class="nav-link">Home</a>
                {{#if loggedIn}}
                <a href="/dashboard" class="nav-link">Dashboard</a>
                <button id="logout" class="logout">Log Out</button>
                {{else}}
                <a href="/login">Log In</a>
                {{/if}}
            </nav>
            <div class="title-container">
                <h1>Tech Talk: The Blog</h1>
            </div>
        </header>
        <main>
            {{{ body }}}
        </main>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>