<h2>Login</h2>

<section class="form-div">
    <form class="login-form">
        <div>
            <label for="login-username">Username</label>
            <input type="text" id="login-username" />
        </div>
        <div>
            <label for="login-password">Password</label>
            <input type="password" id="login-password" />
        </div>
        <div>
            <button type="submit" id="submit">Log in</button>
        </div>

        <a href="/signup"><span id="signup-instead">Sign up</span></a>
    </form>
</section>
<script src="/javascript/login.js"></script>