<h2>Sign up</h2>
<form class="signup-form">
    <div>
        <label for="signup-username">Username</label>
        <input type="text" id="signup-username" />
    </div>
    <div>
        <label for="signup-email">Email</label>
        <input type="text" id="signup-email" />
    </div>
    <div>
        <label for="signup-password">Password</label>
        <input type="password" id="signup-password" />
    </div>
    <div>
        <button type="submit" id="submit">Sign up</button>
    </div>
</form>

<script src="/javascript/signup.js"></script>